
html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

body {
 
     font-size: 12px;
     font-family: 'Jura', sans-serif;
     margin: 0;
     border: 0;
     padding: 0;
     height: 100%;
     width: 100%;
     
}

header {

	height: 91%;
	width: 100%;
} 	
  	
.wallpaper {
	display: inline-block;
	background: url(../img/nyccolor.jpg) no-repeat; 
	width: 100%;
  	margin: 0;
  	height: 100%;
  	color: white;
  	max-width: 100%;
  	background-position: center;
  	text-decoration: none;  	
}



.container1 {
	display: inline-block;
	background-color: white;
	width: 100%;
	margin: 0;
	max-width: 100%;
	height: 91%;
	text-decoration: none;
}

.container1 p {
	display: inline-block;
	font-size: 2em;
	text-align: center;
	width: 100%;
	padding-top: 2%;
	height: 91%;
	margin: 0;
	max-width: 100%;
}

.limit {
	
	display: inline-block;
	width: 100%;
	max-width: 50%;
	position: relative;
	right: 24%;
	left: 24%;
	margin: 0;
	height: 100%;
}
}

.container2 {
	display:inline-block;
	width: 100%;
	height: 40em;
	padding-bottom: 5%;
}

.container2 h2 {

	padding-top: 0;
}

.container3 {
	display: inline-block;
	background-color: #99A1A3;
	width: 100%;
	height: 40em;
	background: #C8CBCC;
	background: url(../img/cash.jpg) no-repeat;
	background-size: 100%;
	background-size: contain;
	background-position: center;	
}

.container3 h2 {

	text-align: center;
	padding-top: 10%;
	color: white;
	
}


.budget {

	display: inline-block;
	max-width: 100%;
	max-height: 20vh;
	width: 100%;
	text-align: center;
	padding-top: 10%;	
}


.container4 h2 {
	padding-bottom: 6%;
	padding-top: 3%;
	background: white;
	color: black;
}

.container4 p {

	display: inline-block;
	font-size: 2em;
	text-align: center;
	font-weight: 500;
	width: 100%;
	height: 100%;
	padding-top: 3%;
	padding-bottom: 3%;
	font-color: black;
	margin: 0;
}


.container4 {
	display: inline-block;
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: white;
}

.brisbane {
	
	width: 100%;
	max-width: 30%;
	max-height: 30%;
	height: 10em;
	float: left;
	background: url(../img/brisbane.jpg) no-repeat;
	background-size: 100%;
  	margin: 0;
  	color: white;
  	overflow: hidden;
  	clear: both;
  	text-align: center;
  	font-size: 2em;
  	opacity: 1;
  	left: 5%;
  	position: relative;
  	z-index: 0;
  	padding: 0%;
}


.brisbane p {

	display: inline-block;
	z-index: 999;

}


.brisbanecolor {
	
	width: 100%;
	max-width: 30%;
	max-height: 30%;
	height: 10em;
	float: left;
	background: url(../img/brisbanecolor.jpg) no-repeat;
	background-size: 100%;
  	margin: 0;
  	color: white;
  	overflow: hidden;
  	padding: 0;
  	text-align: center;
  	font-size: 2em;
  	opacity: 1;
  	left: 5%;
  	display: none;           
}

.brisbane:hover {

	width: 100%;
	max-width: 30%;
	max-height: 30%;
	height: 10em;
	float: left;
	background: url(../img/brisbanecolor.jpg) no-repeat;
	background-size: 100%;
  	margin: 0;
  	color: white;
  	overflow: hidden;
  	clear: both;
  	text-align: center;
  	font-size: 2em;
  	opacity: 1;
  	left: 5%;
  	position: relative;
  	display: block;
  	z-index: 800;

}


.sydney {
	
	width: 100%;
	max-width: 30%;
	max-height: 30%;
	height: 10em;
	background: url(../img/sydney.jpg) no-repeat;
	background-size: 100%;
  	color: white;
  	margin: 0 0 0 0;
  	text-align: center;
  	font-size: 2em;
  	opacity: 0.8;
  	float: left;
  	position: relative;
  	left:5.2%;
}

.sydney:hover {
	opacity: 1;
	cursor: pointer;
	width: 100%;
	max-width: 30%;
	max-height: 30%;
	height: 10em;
	background: url(../img/sydneycolor.jpg) no-repeat;
	background-size: 100%;
  	margin: 0;
  	color: white;
  	margin: 0 0 0 0;
  	text-align: center;
  	font-size: 2em;
  	float: left;
  	position: relative;
  	left:5.2%;
}

.melbourne {

	width: 100%;
	max-width: 30%;
	max-height: 30%;
	height: 10em;
	float: left;
	background: url(../img/melbourne.jpg) no-repeat;
	background-size: 100%;
  	margin: 0 0 0 0;
  	color: white;
  	text-align: center;
  	font-size: 2em;
  	opacity: 0.8;
  	position: relative;
  	left:5.4%;
}

.melbourne:hover {
	opacity: 1;
	cursor: pointer;
	width: 100%;
	max-width: 30%;
	max-height: 30%;
	height: 10em;
	float: left;
	background: url(../img/melbournecolor.jpg) no-repeat;
	background-size: 100%;
  	margin: 0 0 0 0;
  	color: white;
  	text-align: center;
  	font-size: 2em;
  	position: relative;
  	left:5.4%;
}

nav {

	display: inline-block;
	width: 100%;
	word-spacing: 8em;
	text-align: center;
}


nav img {
	opacity: 1;
}



img:hover {
	opacity: 0.4;
	cursor: pointer;
}


blockquote {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	word-spacing: 0;
	padding-top: 6%;
	padding-bottom: 5%;
	margin: 0;
	font-weight: 600;
}


h1 {
  display: inline-block;	
  font-size: 3em;
  margin: 0;
  text-align: center;
  padding-top: 3%;
  word-spacing: 3em;
  width: 100%;

}

a:hover {
	
	color: black;
}

a:link {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;
	color: white;
}

a:active {
	text-decoration: none;
	color: black;
}


h2 {

	display: inline-block;
	font-size: 5em;
	text-align: center;
	width: 100%;
	margin: 0;
	padding-top: 4%;
	padding-bottom: 6%;
}

h3 {

	display: inline-block;
	font-size: 2em;

}

footer {
	width: 100%;
	display: inline-block;
	height: 50%;
	max-height: 50%;
	font-size: 1em;
	font-weight: 600;
	color: black;
	background-color: white;
	margin: 0;
	position: relative;

}

.privacy p {

	max-height: 50%;
	max-width: 50%;
	width: 100%;
	display: inline-block;
	text-align: center;
	font-weight: 600;
	color: black;
	background-color: white;
	margin: 0;
	font-size: 1em;
	position: absolute;
	left: 25%;
	bottom: 10%;

}

footer img {
	display:inline-block;
	max-width: 20%;
	max-height: 20%;
	position: right;
	text-align: left;
	position: absolute;
	right: 8%;
	bottom: 10%;
}

.book1 {

	display: inline-block;
	width: 100%;
	height: 100%;
	margin: 0;
}


.book2 {
	
	display: inline-block;
	background: url(../img/library.jpg) no-repeat; 
	width:100%;
  	margin: 0;
  	color: white;
  	max-width: 100%;
  	background-position: center;
	text-align: center;
	height: 85%;
	background-color: black;
	opacity: 1;
}

.book2 h3 {
	position: relative;
	margin: 0;
	text-align: center;
	left: 1%;
	display: inline-block;
	top: 15%;
}



.book2 p {

	display: inline-block;
	font-size: 1.5em;
	margin: 0;
	text-align: center;
	line-height: 2em;
	top: 32%;
	left: 27%;
	position: absolute;
	max-width: 50%;
	width: 100%;
	overflow: hidden;
	color: white;
	font-weight: 600;
	text-shadow: 0 1px 0 black;

}


.book3 {
	display: inline-block;
	width: 100%;
	max-width: 50%;
	position: relative;
	right: 24%;
	left: 24%;
	margin: 0;
}


.richdad {
	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	padding-top: 8%;
	padding-bottom: 8%;
	line-height: 1.5em;

}

.richdad img {
	float: left;
}

.guide {
	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.7em;

}

.guide img {
	float: right;
}

.babylon {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.7em;
}

.babylon img {

	float: left;
}

.zero {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.7em;
}

.zero img {

	float: right;
}

.couch {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: left;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.7em;
}

.couch img {
	
	float: left;
}

.podcast1 {

	display: inline-block;
	width: 100%;
	margin: 0;
}


.podcast2 {
	
	display: inline-block;
	background: url(../img/dog.jpg) no-repeat; 
	width:100%;
  	margin: 0;
  	height: 60vh;
  	color: black;
  	background-position: center;
  	text-align: center;
  	background-size: contain;
 }


.podcast2 h3 {
	
	top: 35%;
}

.podcast3 {
	display: inline-block;
	width: 100%;
	max-width: 50%;
	position: relative;
	right: 24%;
	left: 24%;
	margin: 0;
}

.podcast4 p {

	font-size: 1.7em;
	padding-bottom: 10%;
	padding-top: 10%;
	margin: 0;
	text-align: center;
	line-height: 1.5em;
}

.moneytree {
	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	padding-top: 8%;
	padding-bottom: 8%;
	line-height: 1.5em;

}

.moneytree img {
	float: left;
}

.propetycouch {
	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.5em;

}

.propertycouch img {
	float: right;
}

.show {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.5em;
}

.show img {

	float: left;
}

.radio {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.5em;
}

.radio img {

	float: right;
}

.rest {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: left;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.5em;
}

.rest {
	
	float: right;
}

.website1 {

	display: inline-block;
	width: 100%;
	margin: 0;
}


.website2 {
	display: inline-block;
	background: url(../img/mice.jpg) no-repeat; 
	width:100%;
  	margin: 0;
  	height: 60vh;
  	color: black;
  	background-position: center;
  	text-align: center;
  	background-size: contain;
}


.website2 h3 {
	padding-top: 12%;
}



.website4 {

	display: inline-block;
	width: 100%;
	max-width: 50%;
	position: relative;
	right: 24%;
	left: 24%;
	margin: 0;
}

.website5 p {

	font-size: 1.7em;
	padding-bottom: 10%;
	padding-top: 10%;
	margin: 0;
	text-align: center;
	line-height: 1.5em;
}


.corelogic {
	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	padding-top: 8%;
	padding-bottom: 8%;
	line-height: 1.5em
	clear: both;

}

.corelogic img {
	
	float: left;

}

.invest {
	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.5em;

}

.invest img {
	float: right;
}

.domain {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.5em;
}

.domain img {

	float: left;
}

.real {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.5em;
}

.real img {

	float: right;
}

.sqm {

	display: inline-block;
	width: 100%;
	margin: 0;
	text-align: left;
	padding-top: 8%;
	padding-bottom: 8%;
	font-size: 1.2em;
	line-height: 1.5em;
	
}

.sqm img {
	
	float: right;
	
}
